﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Apptitude.aspx.cs" Inherits="Apptitude" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body background="Recruitment.jpg">
    <form id="form1" runat="server">
    <div>
    
    <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="35pt" ForeColor="#0099FF" 
        Text="Aptitude Test Maintenance "></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="15pt" 
        ForeColor="#0099FF" onclick="Button1_Click" Text="Back" Height="26px" 
            Width="85px" align="Right" />
    
    </div>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;<asp:Button 
            ID="Button3" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Italic="True" Font-Names="Calisto MT" Font-Size="18pt" 
        ForeColor="#3399FF" Height="31px" 
        Text="Insert , Update And Delete Aptitude Questions" 
        Width="465px" onclick="Button3_Click1" />
    </p>
    <asp:Panel ID="Panel1" runat="server" Height="386px" Visible="False" 
        Width="680px" BorderStyle="None" Direction="LeftToRight" 
        HorizontalAlign="Left" ViewStateMode="Enabled">
        <asp:Label ID="Label2" runat="server" Text="Question :" Font-Names="Calisto MT" 
            Font-Size="14pt" ForeColor="#0099FF"></asp:Label>
        &nbsp;<br />
        <asp:TextBox ID="TextBox1" runat="server" Height="41px" TextMode="MultiLine" 
            Width="468px" style="resize:none"></asp:TextBox>
        <asp:Label ID="Label14" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label3" runat="server" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" Text="Option 1 :"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox3" runat="server" Width="81px"></asp:TextBox>
        <asp:Label ID="Label8" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label4" runat="server" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" Text="Option 2 :"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox2" runat="server" Width="81px"></asp:TextBox>
        <asp:Label ID="Label9" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
        <br />
        &nbsp;&nbsp;
        <br />
        <asp:Label ID="Label5" runat="server" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" Text="Option 3 :"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox4" runat="server" Width="81px"></asp:TextBox>
        <asp:Label ID="Label10" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label6" runat="server" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" Text="Option 4 :"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox5" runat="server" Width="81px"></asp:TextBox>
        <asp:Label ID="Label11" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label7" runat="server" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" Text="Answer :"></asp:Label>
        &nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox6" runat="server" Width="81px"></asp:TextBox>
        <asp:Label ID="Label12" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
        <br />
        <br />
        &nbsp;<asp:Label ID="Label15" runat="server" Font-Bold="True" 
            Font-Names="Calisto MT" Font-Size="12pt" ForeColor="#0099FF" Text="ID :"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox ID="TextBox7" runat="server" Width="81px"></asp:TextBox>
        <asp:Label ID="Label16" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
        <br />
        <br />
        &nbsp;<asp:Button ID="Button4" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="13pt" ForeColor="#0099FF" 
            Text="Insert" ToolTip="To Insert Questions In The Database" 
            onclick="Button4_Click" />
        &nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button5" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="13pt" ForeColor="#0099FF" 
            Text="Update" ToolTip="To Insert Questions In The Database" 
            onclick="Button5_Click" />
        &nbsp;&nbsp;
        <asp:Button ID="Button7" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="13pt" ForeColor="#0099FF" 
            Text="Delete" ToolTip="To Insert Questions In The Database" Width="57px" 
            onclick="Button7_Click" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button8" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="13pt" ForeColor="#0099FF" 
            Text="Delete All" ToolTip="To Insert Questions In The Database" 
            Width="83px" onclick="Button8_Click" />
        <br />
        <asp:Label ID="Label17" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            ForeColor="#0099FF" Text="Label" Visible="False"></asp:Label>
        <br />
        <asp:TextBox ID="TextBox8"  runat="server" Height="46px" TextMode="MultiLine" 
            Visible="False" Width="324px" BorderStyle="solid" Enabled="False" borderwidth="1px"
            EnableTheming="True" MaxLength="1" causesvalidation="true" ReadOnly="True" Rows="3" TabIndex="3" 
            ViewStateMode="Enabled"></asp:TextBox>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </asp:Panel>
    <br />
    <br />
    <asp:Button ID="Button10" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Names="Calisto MT" Font-Size="14pt" ForeColor="#0099FF" 
        onclick="Button10_Click" Text="View ID's Of Question Inserted" 
        Width="235px" Font-Bold="False" Font-Italic="True" />
    <br />
    <br />
    <asp:GridView ID="GridView2" runat="server" AutoGenerateColumns="False" CellPadding="4" 
        DataKeyNames="ID" DataSourceID="SqlDataSource1" EmptyDataText="No Records" 
        Enabled="False" EnableViewState="False" Font-Names="Calisto MT" 
        Font-Size="10pt" ForeColor="#0099FF" GridLines="None" ViewStateMode="Enabled" 
        Visible="False" Width="279px">
        <AlternatingRowStyle BackColor="White" />
        <Columns>
            <asp:BoundField DataField="Question" HeaderText="Question" 
                SortExpression="Question" />
            <asp:BoundField DataField="Op1" HeaderText="Op1" SortExpression="Op1" />
            <asp:BoundField DataField="Op2" HeaderText="Op2" SortExpression="Op2" />
            <asp:BoundField DataField="Op3" HeaderText="Op3" SortExpression="Op3" />
            <asp:BoundField DataField="Op4" HeaderText="Op4" SortExpression="Op4" />
            <asp:BoundField DataField="Ans" HeaderText="Ans" SortExpression="Ans" />
            <asp:BoundField DataField="ID" HeaderText="ID" ReadOnly="True" 
                SortExpression="ID" />
        </Columns>
        <EditRowStyle BackColor="#2461BF" />
        <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
        <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
        <RowStyle BackColor="#EFF3FB" BorderStyle="None" Wrap="False" />
        <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
        <SortedAscendingCellStyle BackColor="#F5F7FB" />
        <SortedAscendingHeaderStyle BackColor="#6D95E1" />
        <SortedDescendingCellStyle BackColor="#E9EBEF" />
        <SortedDescendingHeaderStyle BackColor="#4870BE" />
    </asp:GridView>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:recruitmentConnectionString %>" 
        EnableViewState="False" SelectCommand="SELECT * FROM [Test1]">
    </asp:SqlDataSource>
    </form>
</body>
</html>
