﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HR.aspx.cs" Inherits="HR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>

<head runat="server">
    <title></title>
</head>
<body background="Recruitment.jpg" onload="noBack()">
    <form id="form1" runat="server">
    <div>

    <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="38pt" ForeColor="#0099FF" 
        Text="Human Resource  Panel"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="15pt" 
        ForeColor="#0099FF" onclick="Button1_Click" Text="Logout" />
    
    </div>
    <p>
        &nbsp;</p>
    <asp:Button ID="Button2" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Names="Calisto MT" Font-Size="15pt" ForeColor="#0099FF" 
        onclick="Button2_Click" Text="Update The Selected Candidates After Interview" 
        Width="422px" />
    <br />
    <br />
    <asp:Panel ID="Panel1" runat="server" Height="266px" Width="418px" 
        Visible="False">
        <br />
        <asp:Label ID="Label2" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="12pt" ForeColor="#0099FF" 
            Text="Applicant Id :"></asp:Label>
        &nbsp;&nbsp;<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        &nbsp;<asp:Label ID="Label3" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="Fill IT!" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label4" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="12pt" ForeColor="#0099FF" 
            Text="Selected :"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:DropDownList ID="DropDownList1" runat="server" 
            ForeColor="#0099FF" Height="22px" Width="154px">
            <asp:ListItem Selected="True">Select</asp:ListItem>
            <asp:ListItem>Yes</asp:ListItem>
            <asp:ListItem>No</asp:ListItem>
        </asp:DropDownList>
        &nbsp;<asp:Label ID="Label5" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="Select IT!" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label6" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="12pt" ForeColor="#0099FF" 
            Text="Salary :"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <asp:Label ID="Label7" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="Fill IT!" Visible="False"></asp:Label>
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button3" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="14pt" 
            ForeColor="#0099FF" onclick="Button3_Click" Text="Update " 
            style="height: 30px" />
        <br />
        <asp:Label ID="Label8" runat="server" Font-Names="Calisto MT" Font-Size="13pt" 
            ForeColor="#0099FF" Text="Label" Visible="False"></asp:Label>
        <br />
        <asp:TextBox ID="TextBox3" runat="server" Font-Names="Calisto MT" 
            Font-Size="12pt" ForeColor="#0099FF" Height="48px" TextMode="MultiLine" 
            Visible="False" Width="288px"  style="resize:none"></asp:TextBox>
    </asp:Panel>
    <p>
        &nbsp;<asp:Button ID="Button4" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="13pt" ForeColor="#0099FF" 
            onclick="Button4_Click1" 
            Text="View ID Of Test Cleared Candidates With Skype Id" Width="384px" />
    </p>
    <p>
        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
            CellPadding="4" DataKeyNames="ID" DataSourceID="SqlDataSource1" 
            EmptyDataText="No Records" Enabled="False" EnableViewState="False" 
            Font-Names="Calisto MT" Font-Size="14pt" ForeColor="#0099FF" GridLines="None" 
            Visible="False" Width="376px">
            <AlternatingRowStyle BackColor="White" />
            <Columns>
                <asp:BoundField DataField="ID" HeaderText="ID" InsertVisible="False" 
                    ReadOnly="True" SortExpression="ID" />
                <asp:BoundField DataField="Skype_ID" HeaderText="Skype_ID" 
                    SortExpression="Skype_ID" />
                <asp:BoundField DataField="Email_ID" HeaderText="Email_ID" 
                    SortExpression="Email_ID" />
            </Columns>
            <EditRowStyle BackColor="#2461BF" />
            <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#EFF3FB" />
            <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
            <SortedAscendingCellStyle BackColor="#F5F7FB" />
            <SortedAscendingHeaderStyle BackColor="#6D95E1" />
            <SortedDescendingCellStyle BackColor="#E9EBEF" />
            <SortedDescendingHeaderStyle BackColor="#4870BE" />
        </asp:GridView>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
            ConnectionString="<%$ ConnectionStrings:recruitmentConnectionString %>" 
            EnableViewState="False" 
            SelectCommand="SELECT [ID], [Skype_ID], [Email_ID] FROM [Register] WHERE ([Test_Cleared] = @Test_Cleared)">
            <SelectParameters>
                <asp:Parameter DefaultValue="Yes" Name="Test_Cleared" Type="String" />
            </SelectParameters>
        </asp:SqlDataSource>
    </p>
    </form>
</body>
</html>
