﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HR_Management.aspx.cs" Inherits="HR_Management" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>

<head runat="server">
    <title></title>
</head>
<body background="Recruitment.jpg" onload="onBack()">
    <form id="form1" runat="server">
    <div>
    
    <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="38pt" ForeColor="#0099FF" 
        Text="HR Management Panel"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="15pt" 
        ForeColor="#0099FF" onclick="Button1_Click" Text="Logout" />
            </div>


    <br />
    <br />
    <asp:Button ID="Button2" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Bold="False" Font-Names="Calisto MT" Font-Size="15pt" 
        ForeColor="#0099FF" Text="Insert , Update And Delete HR Details" 
        Width="341px" onclick="Button2_Click" />
    <br />
    <br />
    <asp:Panel ID="Panel1" runat="server" Height="435px" Width="576px" 
        Visible="False">
        <br />
        <asp:Label ID="Label2" runat="server" Text="HR_Skype_ID" ForeColor="#0099FF"></asp:Label>
        &nbsp;
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        &nbsp;
        <asp:Label ID="Label3" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Fill It !" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label4" runat="server" ForeColor="#0099FF" Text="Start_Time"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        &nbsp;&nbsp;<asp:Label ID="Label10" runat="server" ForeColor="#0099FF" 
            Text="24 Hour"></asp:Label>
        &nbsp;<asp:Label ID="Label14" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Ex:21:15"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label5" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Fill It !" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label6" runat="server" ForeColor="#0099FF" Text="End_Time"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
        &nbsp;&nbsp;<asp:Label ID="Label11" runat="server" ForeColor="#0099FF" 
            Text="24 Hour"></asp:Label>
        &nbsp;<asp:Label ID="Label15" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Ex:21:15"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label7" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Fill It !" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label8" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="ID"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
        &nbsp;
        <asp:Label ID="Label9" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Fill It When Updating And Deleting !"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label16" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="Email_Id"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
        &nbsp;<asp:Label ID="Label24" runat="server" Font-Bold="True" 
            ForeColor="#0099FF" Text="Gmail ID !"></asp:Label>
&nbsp;<asp:Label ID="Label17" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Fill It !" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label18" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="Password"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox7" runat="server" TextMode="Password"></asp:TextBox>
        &nbsp;<asp:Label ID="Label23" runat="server" Font-Bold="False" Font-Size="11pt" 
            ForeColor="#0099FF" Text="Email Id Password"></asp:Label>
&nbsp;<asp:Label ID="Label19" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Fill It !" Visible="False"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label20" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="User_Name"></asp:Label>
        &nbsp;
        <asp:TextBox ID="TextBox8" runat="server"></asp:TextBox>
&nbsp;<asp:Label ID="Label22" runat="server" Font-Bold="False" Font-Size="11pt" 
            ForeColor="#0099FF" Text="User Name in Admin Login Of HR"></asp:Label>
&nbsp;
        <asp:Label ID="Label21" runat="server" Font-Bold="True" ForeColor="#0099FF" 
            Text="Fill It !" Visible="False"></asp:Label>
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button3" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Bold="False" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" onclick="Button3_Click" Text="Insert" />
        &nbsp;&nbsp;
        <asp:Button ID="Button4" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Bold="False" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" onclick="Button4_Click" Text="Update" />
        &nbsp;&nbsp;
        <asp:Button ID="Button5" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Bold="False" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" onclick="Button5_Click" Text="Delete" />
        &nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button6" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Bold="False" Font-Names="Calisto MT" Font-Size="12pt" 
            ForeColor="#0099FF" onclick="Button6_Click" Text="Delete All" Width="89px" />
        <br />
        <asp:Label ID="Label12" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
            Font-Size="13pt" ForeColor="#0099FF" Text="Label" Visible="False"></asp:Label>
        <br />
        <asp:TextBox ID="TextBox5" runat="server" Font-Names="Calisto MT" 
            Font-Size="12pt" ForeColor="#0099FF" Height="39px" TextMode="MultiLine" 
            Visible="False" Width="314px" style="resize:none"></asp:TextBox>
        <br />
        <br />
        <br />
        </asp:Panel>


        <br />


        <asp:Button ID="Button7" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Names="Calisto MT" Font-Size="15pt" ForeColor="#0099FF" 
            Text="View ID OF HR Details" Width="221px" onclick="Button7_Click" 
            Height="32px" />
        <br />
        <br />
        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
            CellPadding="4" DataKeyNames="Id" DataSourceID="SqlDataSource1" 
            ForeColor="#0099FF" GridLines="None" Width="305px" 
            EmptyDataText="No Records" Enabled="False" EnableViewState="False" 
            Font-Names="Calisto MT" Font-Size="13pt" Visible="False">
            <AlternatingRowStyle BackColor="White" />
            <Columns>
                <asp:BoundField DataField="HR_Skype_ID" HeaderText="HR_Skype_ID" 
                    SortExpression="HR_Skype_ID" />
                <asp:BoundField DataField="Start_Time" HeaderText="Start_Time" 
                    SortExpression="Start_Time" />
                <asp:BoundField DataField="End_Time" HeaderText="End_Time" 
                    SortExpression="End_Time" />
                <asp:BoundField DataField="Id" HeaderText="Id" ReadOnly="True" 
                    SortExpression="Id" />
                <asp:BoundField DataField="Email_Id" HeaderText="Email_Id" 
                    SortExpression="Email_Id" />
                <asp:BoundField DataField="Password" HeaderText="Password" 
                    SortExpression="Password" />
                <asp:BoundField DataField="User_Name" HeaderText="User_Name" 
                    SortExpression="User_Name" />
            </Columns>
            <EditRowStyle BackColor="#2461BF" />
            <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#EFF3FB" />
            <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
            <SortedAscendingCellStyle BackColor="#F5F7FB" />
            <SortedAscendingHeaderStyle BackColor="#6D95E1" />
            <SortedDescendingCellStyle BackColor="#E9EBEF" />
            <SortedDescendingHeaderStyle BackColor="#4870BE" />
        </asp:GridView>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
            ConnectionString="<%$ ConnectionStrings:recruitmentConnectionString %>" 
            SelectCommand="SELECT * FROM [Video]" EnableViewState="False"></asp:SqlDataSource>
    

    <br />


    </form>
</body>
</html>
