﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login_User.aspx.cs" Inherits="Login_User" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>
<head id="Head1" runat="server">
    <title></title>
</head>
<body background="Recruitment.jpg" onload="noBack()">
    <form id="form1" runat="server">
       <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="48pt" ForeColor="#0099FF" 
        Text="Login Registered User"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
           BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="24pt" 
           ForeColor="#0099FF" onclick="Button1_Click" Text="Back" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
       &nbsp;&nbsp;
    <div>
    
        <br />
    
    </div>
       <asp:Panel ID="Panel1" runat="server" Height="228px" Width="355px">
            <br />
            <asp:Label ID="Label2" runat="server" ForeColor="#0099FF" Text="User_ID :"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <asp:Label ID="Label12" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
                Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
            <br />
            <br />
            <asp:Label ID="Label3" runat="server" ForeColor="#0099FF" Text="Password"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="TextBox2" runat="server" TextMode="Password"></asp:TextBox>
            <asp:Label ID="Label13" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
                Font-Size="10pt" ForeColor="#0099FF" Text="Fill IT !" Visible="False"></asp:Label>
            <br />
            <br />
            <asp:Label ID="Label4" runat="server" ForeColor="#0099FF" Text="User_Type"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <asp:DropDownList ID="DropDownList2" runat="server" ForeColor="#0099FF" 
                Height="22px" Width="157px" 
             >
                <asp:ListItem Selected="True">Select</asp:ListItem>
                <asp:ListItem>View_Profile</asp:ListItem>
                <asp:ListItem>Test</asp:ListItem>
            </asp:DropDownList>
            <asp:Label ID="Label14" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
                Font-Size="10pt" ForeColor="#0099FF" Text="Select An Option !" Visible="False"></asp:Label>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Button ID="Button6" runat="server" BackColor="White" BorderColor="White" 
                BorderStyle="None" Font-Italic="True" Font-Names="Calisto MT" Font-Size="12pt" 
                ForeColor="#0099FF" onclick="Button6_Click" Text="Login" />
            <br />
            <asp:Label ID="Label19" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
                Font-Size="10pt" ForeColor="#0099FF" Text="Wrong User Name or Password" 
                Visible="False"></asp:Label>
            <br />
            <br />
          
           <br />
       </asp:Panel>
    </form>
</body>
</html>
