﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MD.aspx.cs" Inherits="MD" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>

<head runat="server">
    <title></title>
    <style type="text/css">
        #form1
        {
            height: 1021px;
        }
    </style>
</head>
    
<body background="Recruitment.jpg" onload="noBack()">
    <form id="form1" runat="server">
     <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="40pt" ForeColor="#0099FF" 
        Text="MD Viewing Panel"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="15pt" 
        ForeColor="#0099FF" onclick="Button1_Click" Text="Logout" />

    <div>
    
    </div>
     <br />
    <br />
    <asp:Button ID="Button2" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Names="Calisto MT" Font-Size="15pt" ForeColor="#0099FF" 
        onclick="Button2_Click" Text="View The Records Of Selected Applicant's" 
        Width="371px" />
    <br />
     <br />
     <br />
    <asp:Panel ID="Panel1" runat="server" Height="644px" Width="513px" 
           BorderColor="#0099FF" BorderStyle="None" Visible="False">
           <asp:Label ID="Label17" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
               Font-Size="14pt" ForeColor="#0099FF" Text="Personal Information :"></asp:Label>
           <br />
           <br />
           <br />
           &nbsp;<asp:Image ID="Image1" runat="server" Height="150px" Width="150px" />
           <asp:Label ID="Label22" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Label:" Font-Bold="True" 
               Font-Size="14pt"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label2" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="USER_ID:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox1" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True" ></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label ID="Label3" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Password"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox2" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label4" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Age : "></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
           <asp:TextBox ID="TextBox3" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label5" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Address:"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox4" runat="server" ForeColor="#0099FF" Height="18px" 
               ReadOnly="True" Width="113px"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label6" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" Font-Size="11pt" ForeColor="#0099FF" Text="PhoneNo:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox5" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label 
               ID="Label7" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Birthdate:"></asp:Label>
           &nbsp;<asp:TextBox ID="TextBox6" runat="server" ForeColor="#0099FF" 
               Height="18px" ReadOnly="True" Width="113px"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label8" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" Font-Size="11pt" ForeColor="#0099FF" Text="FatherName:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox7" runat="server" ForeColor="#0099FF" Height="18px" 
               ReadOnly="True" Width="113px"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label12" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="EmailId:"></asp:Label>
&nbsp;&nbsp;<asp:TextBox ID="TextBox10" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />
           <asp:Label ID="Label19" runat="server" BorderStyle="None" Font-Bold="True" 
               Font-Names="Calisto MT" Font-Size="15pt" ForeColor="#0099FF" 
               Text="Education Details :"></asp:Label>
           <br />
           <br />
&nbsp;<asp:Label ID="Label9" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               ForeColor="#0099FF" Text="10TH % :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
           <asp:TextBox ID="TextBox8" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
           <br />
&nbsp;<asp:Label ID="Label10" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               Font-Size="11pt" ForeColor="#0099FF" Text="12TH % :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox9" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <br />
&nbsp;<asp:Label ID="Label11" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               ForeColor="#0099FF" Text="Graduate_Qualification :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox 
               ID="TextBox14" runat="server" 
               ForeColor="#0099FF" Height="18px" Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;&nbsp;&nbsp;&nbsp;<br /> &nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label13" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Graduate_Percent  :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox 
               ID="TextBox11" runat="server" 
               ForeColor="#0099FF" Height="18px" Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label14" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" 
               Text="Post_Graduate_Qualification :"></asp:Label>
           &nbsp;&nbsp;&nbsp;<asp:TextBox ID="TextBox15" runat="server" 
               ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           <br />&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label15" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Post_Graduate_Percent  :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox12" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;
           <asp:Label ID="Label23" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Applicants Salary  :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox16" runat="server" ForeColor="#0099FF" Height="18px" 
               ReadOnly="True" Width="117px"></asp:TextBox>
           <br />
           <br />
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Button ID="Button3" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" onclick="Button3_Click" 
               Text="&lt; Previous" Width="84px" />
&nbsp;<asp:Button ID="Button4" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               ForeColor="#0099FF" onclick="Button4_Click" Text="Next &gt;" Width="86px" />
           <br />
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <br />
           <br />
           <br />
       </asp:Panel>
    <br />
    </form>
</body>
</html>
