﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="News_Instruction.aspx.cs" Inherits="News_Instruction" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body background="Recruitment.jpg">
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
        Font-Size="14pt" Font-Underline="True" 
        
        Text="Instruction For Inserting , Updating And Deleting Questions From The Database Of Tests Are :" 
        ForeColor="#0099FF"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button3" runat="server" BackColor="White" BorderColor="White" 
        BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="12pt" 
        onclick="Button3_Click" Text="Back" ForeColor="#0099FF" />
    
        <br />
        <br />
    
    </div>
    <asp:Panel ID="Panel1" runat="server" BackColor="White" Font-Bold="True" 
        Font-Names="Calisto MT" Font-Size="12pt" Height="379px" Width="543px" 
        ForeColor="#0099FF">
        <span class="style1">Instructions For Inserting News in The Database</span> 
        :-<br class="style1" />
        <br />
        1. You Dont Have To Fill Id When Inserting News.<br />
        <br />
        <span class="style1">Instructions For Updating News in The Database</span> 
        :-<br class="style1" />
        <br />
        1. While Updating The News in The Database first Write The Id Of the<br /> 
        News you want to update than any of its properties you want to update.<br />
        <br />
        2.You Can Update Every Attribute Of The News simultaneously.<br />
        <br />
        <span class="style1">Instructions For Deleting News in The Database</span> 
        :-<br class="style1" />
        <br />
        1. When you want to delete a News from database you can choose the Id<br /> 
        and than fill all the fields with a new News than it will replace the News<br /> 
        in the database so that the ID can be sequential after deleting also.</asp:Panel>
    
    </form>
</body>
</html>
