﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Register.aspx.cs" Inherits="Register" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>
<script type="text/javascript">
      function onkeypress()
      {
        if(window["event"]["keyCode"]==13)
         {
           obj["onkeypress"]=null;
          }
       }
       </script>

<head runat="server">
    <title></title>
</head>
<body background="Recruitment.jpg" onload="noBack()" onkeypress="onkeypress()">
    <form id="form1" runat="server" defaultbutton="Button2">
       <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="48pt" ForeColor="#0099FF" 
        Text="Register New User"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
           BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="24pt" 
           ForeColor="#0099FF" onKeypress="none" onclick="Button1_Click" Text="Back" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
       &nbsp;&nbsp;

    <div>
    
        <br />
    
    </div>
       <asp:Panel ID="Panel1" runat="server" Height="597px" Width="783px" 
           BorderColor="#0099FF" BorderStyle="None">
           <br />
           &nbsp;<asp:Label ID="Label2" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Name:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox1" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px"></asp:TextBox>
           &nbsp;
           <asp:Label ID="Label17" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label3" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Password"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox2" runat="server" ForeColor="#0099FF" Height="18px" 
               TextMode="Password" Width="113px"></asp:TextBox>
           &nbsp;<asp:Label ID="Label22" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label4" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Age : "></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox3" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px"></asp:TextBox>
           &nbsp;
           <asp:Label ID="Label18" runat="server" BackColor="White" ForeColor="#0099FF" 
               Text="Label" Visible="False"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label5" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Address :"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox4" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px"></asp:TextBox>
&nbsp;<asp:Label ID="Label23" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label6" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" Font-Size="11pt" ForeColor="#0099FF" Text="PhoneNo:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox5" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px"></asp:TextBox>
           &nbsp;
           <asp:Label ID="Label19" runat="server" BackColor="White" ForeColor="#0099FF" 
               Text="Label" Visible="False"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label7" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Birthdate:"></asp:Label>
           <asp:TextBox ID="TextBox6" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" TextMode="Date" Date="mm/dd/yyyy" ></asp:TextBox>
           &nbsp;<asp:Label ID="Label24" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label8" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" Font-Size="11pt" ForeColor="#0099FF" Text="FatherName:"></asp:Label>
           &nbsp;<asp:TextBox ID="TextBox7" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px"></asp:TextBox>
           &nbsp;
           <asp:Label ID="Label20" runat="server" BackColor="White" ForeColor="#0099FF" 
               Text="Label" Visible="False"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label12" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="EmailId:"></asp:Label>
&nbsp;&nbsp;<asp:TextBox ID="TextBox10" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="114px"></asp:TextBox>
           &nbsp;<asp:Label ID="Label25" runat="server" BackColor="White" ForeColor="#0099FF" 
               Text="Label" Visible="False"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label9" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="10TH % :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox8" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px"></asp:TextBox>
           &nbsp;
           <asp:Label ID="Label21" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label10" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" Font-Size="11pt" ForeColor="#0099FF" Text="12TH % :"></asp:Label>
           &nbsp;<asp:TextBox ID="TextBox9" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="115px"></asp:TextBox>
           &nbsp;
           <asp:Label ID="Label26" runat="server" BackColor="White" ForeColor="#0099FF" 
               Text="Label" Visible="False"></asp:Label>
           &nbsp;&nbsp;
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <br />
&nbsp;<asp:Label ID="Label11" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               ForeColor="#0099FF" Text="Graduate_Qualification :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:DropDownList ID="DropDownList1" runat="server" 
               ForeColor="#0099FF" Height="23px" Width="140px">
               <asp:ListItem Selected="True">Select</asp:ListItem>
           </asp:DropDownList>
           &nbsp;<asp:Label ID="Label27" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label13" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Graduate_Percent  :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox11" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="137px"></asp:TextBox>
&nbsp;<asp:Label ID="Label28" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label14" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" 
               Text="Post_Graduate_Qualification :"></asp:Label>
&nbsp;&nbsp;<asp:DropDownList ID="DropDownList2" runat="server" ForeColor="#0099FF" 
               Height="23px" Width="143px">
               <asp:ListItem Selected="True">Select</asp:ListItem>
           </asp:DropDownList>
           &nbsp;<br />&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label15" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Post_Graduate_Percent  :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox12" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="135px"></asp:TextBox>
&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label16" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Skype_Id_Interview:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox13" runat="server" ForeColor="#0099FF" Height="18px" 
               style="margin-bottom: 0px" Width="137px"></asp:TextBox>
&nbsp;<asp:Label ID="Label31" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label33" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Upload_Image :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:FileUpload ID="FileUpload1" runat="server" Width="171px" 
               Font-Names="Calisto MT" ForeColor="#0099FF" />
           <asp:Label ID="Label35" runat="server" ForeColor="#0099FF" 
               Text="Max : 160 x 100"></asp:Label>
           &nbsp;<asp:Label ID="Label34" runat="server" ForeColor="#0099FF" Text="Label" 
               Visible="False"></asp:Label>
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Button ID="Button2" runat="server" BackColor="White" BorderColor="White" 
               BorderStyle="None" Font-Bold="True" Font-Italic="False" Font-Names="Calisto MT" 
               Font-Size="15pt" ForeColor="#0099FF" Text="Register And View Profile" 
               Width="253px" onclick="Button2_Click" />
           <br />
           <br />
           <asp:Label ID="Label32" runat="server" Font-Size="13pt" ForeColor="#0099FF" 
               Text="Label" Visible="False"></asp:Label>
           <br />
           <asp:TextBox ID="TextBox14" runat="server" Height="98px" TextMode="MultiLine" 
               Visible="False" Width="547px" style="resize:none"></asp:TextBox>
       </asp:Panel>
    </form>
</body>
</html>
