﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="View_Profile.aspx.cs" Inherits="View_Profile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>
<head id="Head1" runat="server">
    <title></title>
</head>
<body onload="noBack()" background="Recruitment.jpg">
    <form id="form1" runat="server">
       <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="48pt" ForeColor="#0099FF" 
        Text="View Profile User"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
           BorderStyle="None" Font-Bold="True" Font-Names="Calisto MT" Font-Size="24pt" 
           ForeColor="#0099FF" onclick="Button1_Click" Text="Logout" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
       &nbsp;&nbsp;

    <div>
    
    </div>
     <asp:Panel ID="Panel1" runat="server" Height="800px" Width="513px" 
           BorderColor="#0099FF" BorderStyle="None">
           <asp:Label ID="Label17" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
               Font-Size="14pt" ForeColor="#0099FF" Text="Personal Information :"></asp:Label>
           <br />
           <br />
           <br />
           &nbsp;<asp:Image ID="Image1" runat="server" Height="150px" Width="150px" />
           <asp:Label ID="Label22" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Label:" Font-Bold="True" 
               Font-Size="14pt"></asp:Label>
           <br />
           <br />
           &nbsp;<asp:Label ID="Label2" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="USER_ID:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox1" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True" ontextchanged="TextBox1_TextChanged"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label ID="Label3" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Password"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox2" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label4" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Age : "></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
           <asp:TextBox ID="TextBox3" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label5" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Address:"></asp:Label>
&nbsp;<asp:TextBox ID="TextBox4" runat="server" ForeColor="#0099FF" Height="18px" 
               ReadOnly="True" Width="113px"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label6" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" Font-Size="11pt" ForeColor="#0099FF" Text="PhoneNo:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox5" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label 
               ID="Label7" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Birthdate:"></asp:Label>
           &nbsp;<asp:TextBox ID="TextBox6" runat="server" ForeColor="#0099FF" 
               Height="18px" ReadOnly="True" Width="113px"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label8" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" Font-Size="11pt" ForeColor="#0099FF" Text="FatherName:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox7" runat="server" ForeColor="#0099FF" Height="18px" 
               ReadOnly="True" Width="113px"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label12" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="EmailId:"></asp:Label>
&nbsp;&nbsp;<asp:TextBox ID="TextBox10" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />
           <asp:Label ID="Label19" runat="server" BorderStyle="None" Font-Bold="True" 
               Font-Names="Calisto MT" Font-Size="15pt" ForeColor="#0099FF" 
               Text="Education Details :"></asp:Label>
           <br />
           <br />
&nbsp;<asp:Label ID="Label9" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               ForeColor="#0099FF" Text="10TH % :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
           <asp:TextBox ID="TextBox8" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
           <br />
&nbsp;<asp:Label ID="Label10" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               Font-Size="11pt" ForeColor="#0099FF" Text="12TH % :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox9" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp; &nbsp;&nbsp;
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <br />
&nbsp;<asp:Label ID="Label11" runat="server" BorderStyle="None" Font-Names="Calisto MT" 
               ForeColor="#0099FF" Text="Graduate_Qualification :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox 
               ID="TextBox14" runat="server" 
               ForeColor="#0099FF" Height="18px" Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;&nbsp;&nbsp;&nbsp;<br /> &nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label13" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Graduate_Percent  :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox 
               ID="TextBox11" runat="server" 
               ForeColor="#0099FF" Height="18px" Width="113px" ReadOnly="True"></asp:TextBox>
           &nbsp;<br />&nbsp;&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label14" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" 
               Text="Post_Graduate_Qualification :"></asp:Label>
           &nbsp;&nbsp;&nbsp;<asp:TextBox ID="TextBox15" runat="server" 
               ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
           <br />&nbsp;&nbsp;<br />&nbsp;<asp:Label ID="Label15" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Post_Graduate_Percent  :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:TextBox ID="TextBox12" runat="server" ForeColor="#0099FF" Height="18px" 
               Width="113px" ReadOnly="True"></asp:TextBox>
&nbsp;<br />&nbsp;&nbsp;<br />
           <asp:Label ID="Label20" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
               Font-Size="15pt" ForeColor="#0099FF" Text=" Test And Interview Details :"></asp:Label>
           <br />
           <br />
           <asp:Label ID="Label18" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Test_Date :"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox ID="TextBox16" 
               runat="server" ForeColor="#0099FF" Height="18px" ReadOnly="True" 
               style="margin-bottom: 0px" Width="113px"></asp:TextBox>
           <br />
&nbsp;<br />
           <asp:Label ID="Label16" runat="server" BorderStyle="None" 
               Font-Names="Calisto MT" ForeColor="#0099FF" Text="Skype_Id_For_Interview:"></asp:Label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label21" runat="server" Font-Names="Calisto MT" 
               ForeColor="#0099FF"></asp:Label>
           <br />
           <br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <br />
           <br />
           <br />
       </asp:Panel>
    </form>
</body>
</html>
