﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Welcome_Page.aspx.cs" Inherits="Welcome_Page" EnableSessionState="True" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >

<body  background="Recruitment.jpg" onkeypress="none">
    <form id="form1" runat="server">
    <asp:Label ID="Label1" runat="server" Font-Italic="True" 
        Font-Names="Calisto MT" Font-Size="50pt" ForeColor="#0099FF" 
        Text="Welcome To Recruitment "></asp:Label>
<head runat="server">
    <title></title>
</head>
    <br />
   <marquee>    <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Names="Calisto MT" 
        Font-Size="15pt" ForeColor="#0099FF"></asp:Label></marquee>

    <br />
    <br />
    <br />
    <br />
    <p>
        <asp:Button ID="Button1" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Italic="True" Font-Names="Calisto MT" Font-Size="25pt" 
            ForeColor="#3399FF" onclick="Button1_Click" Text="Register New User" 
            Width="273px" />
    </p>
    <p>
        <asp:Button ID="Button2" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Italic="True" Font-Names="Calisto MT" Font-Size="25pt" 
            ForeColor="#3399FF" onclick="Button2_Click" Text="Login Registered User" 
            Width="312px" />
    </p>
    <p>
        <asp:Button ID="Button3" runat="server" BackColor="White" BorderColor="White" 
            BorderStyle="None" Font-Italic="True" Font-Names="Calisto MT" Font-Size="25pt" 
            ForeColor="#3399FF" Height="53px" onclick="Button3_Click" Text="Login Admin" 
            Width="210px" />
    </p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    </form>
</body>
</html>
